<h1> About Us... </h1>
<br>

<h5>Hi! My name is annemano. I did this project by following freeCodeCamp's and Codemy's <a href="https://youtu.be/fmyvWz5TUWg" target="_blank">Ruby on Rails tutorial</a>.</h5>
<br>
<h6>You can log in with email <strong>"test1@test.com"</strong> and password <strong>"test1test1"</strong>.</h6>