<h1>Hello World</h1>
<p>This is my first Rails webpage!</p>
<p>I did this project by following freeCodeCamp's and Codemy's <a href="https://youtu.be/fmyvWz5TUWg" target="_blank">Ruby on Rails tutorial</a></p>